a {
  color: rgb(0, 186, 47); /* Цвет текста ссылки */
  text-decoration: none; /* Убираем подчеркивание по умолчанию */
}

/* Стиль для ссылки при наведении курсора */
a:hover {
  color: rgb(0, 166, 255); /* Новый цвет текста при наведении */
  text-decoration: underline; /* Добавляем подчеркивание при наведении */
}


.fon {
  background-size: cover; /* Растягивает фон, чтобы полностью заполнить контейнер */
  background-position: center; /* Выравнивает фон по центру контейнера */
  background-repeat: no-repeat; /* Отключает повторение фона */
  width: 100%; /* Ширина контейнера, если не задана явно */
  height: 100vh; /* Высота контейнера, если не задана явно; 100vh означает 100% высоты окна просмотра */
  z-index: 0; /* Задаем нижний z-index */
}

.mestopolozhtext{
  margin-top: 70px;
  text-align: left;
}
.mestopolozhimg {
  width: 350px;
  height: 220px;
  float: right; /* Помещаем картинку справа */
  margin-left: 20px; /* Добавляем небольшой отступ между картинкой и текстом */
  shape-outside: polygon(0 0, 100% 0, 100% 100%, 0 100%); /* Задаем форму картинки для обтекания текста */
  margin-top: -20px;
}
.nashKolledj{
  margin-top: 20px;
  text-align: left;
}

.big-div{
  width: 1450px;
  height: 2100px;
  margin-top: 300px;
  margin-left: 20px;
  z-index: 2;  

}

.img-vivisk{
  width: 550px;
  height: 550px;
  margin-top: 600px;
  margin-left: -1100px;
  z-index: 4;
}

.img-vivisk2{
  width: 550px;
  height: 550px;
  z-index: 2;  
}
.div-vivisk2{
  margin-top: -556.5px;
  margin-left: -30px;
  z-index: 2;  

}

.img-vid{
  width: 550px;
  height: 550px;
  z-index: 2;  
}
.div-vid{
   margin-top: -556.5px;
  margin-left: 929px;
  z-index: 2;  

}

.em {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 24px;
  font-family: audio;
  z-index: 2;
  opacity: 0;
  animation: fadeQ 0s ease-in-out forwards;
  font:italic;
  text-shadow: 2px 2px 4px rgba(255, 0, 200, 0.5); /* Добавляем тень */
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  opacity: 0;

}

.imgs{
    width: 1480px; 
    height: 600px;
    left: 0;
    top:0;
    position: absolute;
    z-index: 2;
}


.text-overlay {
  position: absolute;
  margin-top: 655px;
  margin-left: 750px;
  margin-right: -1000px;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  background: linear-gradient(100deg, rgb(5, 136, 18), #ffffff, #565761, #0000ff); /* Градиент с тремя цветами */
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  z-index: 3;
  opacity: 0;
  animation: fadeQ 1.5s ease-in-out forwards;
  padding: 20px;
  border-image-slice: 1; /* Устанавливаем размер градиента */
  border-radius: 100px;
}

@keyframes fadeQ {
  0% {
    transform: translate(-50%, -50%) translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) translateY(0);
    opacity: 1;
  }
}

.t1{
  margin-top: 80px;
  font-size: 24px;
  color: black;
}

.t2{
  margin-top: 100px;
  color: black;
}

.t3{
  margin-top: 150px;
  color: black;
}

.h1{
  margin-top: 120px; /* Измените этот отступ по вашему желанию */
  opacity: 0;
  color: black;
  position: relative;
  z-index: 1;
  animation:  fadeInDow 1s ease-in-out forwards 1s;
}
@keyframes fadeInDow {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
}}

.p1 {
  opacity: 0;
  color: black;
  position: relative;
  z-index: 1;
  text-align: left;
  font-size: 25px;
  animation: fadeInDo 1.1s ease-in-out forwards 1.1s;
}

.img1 {
  width: 500px;
  height: 500px;
  opacity: 0;
  margin-right: -700px;
  margin-top: -110px;
  margin-bottom: 10px;
  animation: fadeInDo 1.1s ease-in-out forwards 1.1s, fadeInImage 1.1s ease-in-out forwards 1.1s;
  z-index: 2;
}

@keyframes fadeInDo {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeInImage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.p2{
  opacity: 0;
  color: black;
  position: relative;
  z-index: 1;
  text-align: right;
  font-size: 25px;
  animation:  fadeInD 1.2s ease-in-out forwards 1.2s;
}
.img2 {
  width: 500px;
  height: 500px;
  opacity: 0;
  margin-right: 700px;
  margin-top: -90px;
  margin-bottom: 10px;
  animation: fadeInD 1.2s ease-in-out forwards 1.2s, fadeInImag 1.2s ease-in-out forwards 1.2s;
}
@keyframes fadeInImag {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInD {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
}}

.p3{
  opacity: 0;
  color: black;
  position: relative;
  z-index: 1;
  text-align: left;
  font-size: 25px;
  animation:  fadeIn 1.3s ease-in-out forwards 1.3s;
}
.img3 {
  width: 500px;
  height: 500px;
  opacity: 0;
  margin-right: -800px;
  margin-top: -100px;
  margin-bottom: 10px;
  animation: fadeIn 1.3s ease-in-out forwards 1.3s, fadeInIma 1.3s ease-in-out forwards 1.3s;
}
@keyframes fadeInIma {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
}}

.p4{
  opacity: 0;
  color: black;
  position: relative;
  z-index: 1;
  text-align: right;
  font-size: 25px;
  animation:  fadeI 1.4s ease-in-out forwards 1.4s;
}
.img4 {
  width: 500px;
  height: 500px;
  opacity: 0;
  margin-right: 900px;
  margin-top: -90px;
  margin-bottom: 20px;
  animation: fadeI 1.4s ease-in-out forwards 1.4s, fadeInIm 1.4s ease-in-out forwards 1.4s;
}
@keyframes fadeInIm {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeI {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
}}

.p5{
  opacity: 0;
  color: black;
  position: relative;
  z-index: 1;
  text-align: left;
  font-size: 25px;
  animation:  fade 1.5s ease-in-out forwards 1.5s;
}
.img5 {
  width: 500px;
  height: 500px;
  opacity: 0;
  margin-right: -939px;
  margin-top: -120px;
  margin-bottom: 10px;
  animation: fade 1.5s ease-in-out forwards 1.5s, fadeInI 1.5s ease-in-out forwards 1.5s;
}
@keyframes fadeInI {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
}}
